@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+TC&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Noto Sans TC', sans-serif;
}

body {
    background-color: #eeeeee;
}

h1 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.2rem;
}

.bg-primary {
    background: rgba(34, 202, 75);
}

.bg-alert {
    background: red;
}

.bg-purple {
    background: plum;
}

.sidebar .top {
    height: 50px;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    top: .8rem;
    left: 20px;
    height: 96vh;
    width: 80px;
    background-color: #F9F9FA;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
    border-radius: 20px;
    user-select:none;
}

.sidebar.active .nav-links {
    height: 78%;
    overflow: auto;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar.active ~ .main-content {
    left: 270px;
    width: calc(100% - 270px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    top: .4rem;
    left: 50%;
    font-size: 1.5rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .dropdown {
    opacity: 0;
}

.sidebar.active .dropdown {
    opacity: 1;
    font-size: 1.5rem;
    cursor: pointer;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    /*height: 50px;*/
    width: 90%;
    margin: 0.8rem 0;
    line-height: 50px;
}

.sidebar ul li .link {
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
}

/*.sidebar ul li a:hover {*/
/*    background-color: #fff;*/
/*}*/

.sidebar ul li i {
    min-width: 50px;
    font-size: 1.2rem;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .icon-link:hover {
    background-color: #ffffff;
    border-radius: 12px;
}

.sidebar .nav-item {
    white-space:nowrap;
    display: none;
}

.sidebar.active .nav-item {
    display: flex;
}

.sidebar .sub-menu {
    display: none;
}

.sidebar .sub-menu li {
    margin: -0.5rem auto;
    border-radius: 0 0 12px 12px;
}

.sidebar .sub-menu li a:hover {
    background-color: transparent;
    color: #404BDA;
}

.sidebar.active .menu_selection.drop {
    background-color: #ffffff;
    border-radius: 12px;
}

.sidebar.active .menu_selection.drop .sub-menu {
    font-size: 15px;
    min-width: 200px;
    padding: 0 0 0 45px;
    margin: -0.5rem auto;
    display: block;
}

.sidebar .sub-menu li a {
    text-decoration: none;
    color: #000;
}

.sidebar ul li .tooltip {
    width: 9em;
    background-color: #F9F9FA;
    position: absolute;
    top: 50%;
    left: 139px;
    transform: translate(-50%, -50%);
    /*box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);*/
    border-radius: 0 .6rem .6rem 0;
    padding: .4rem .9rem;
    line-height: 1.8rem;
    white-space: nowrap;
    z-index: 10;
    display: none;
}

.sidebar ul .tooltip li {
    margin: -0.5rem auto;
    border-radius: 0 0 12px 12px;
    line-height: 3rem;
}

.sidebar ul .tooltip a {
    text-decoration: none;
    color: #000;
}

.sidebar ul .tooltip a:hover {
    text-decoration: none;
    color: #404BDA;
}

.sidebar ul .menu_selection:hover .tooltip {
    display: block;
}

.sidebar.active ul .menu_selection:hover .tooltip {
    display: none;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar .logout-selection {
    position: fixed;
    bottom: 20px;
}

.sidebar .logout-selection a {
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    text-decoration: none;
}

.main-content {
    display: flex;
    position: relative;
    background-color: #eeeeee;
    height: 96vh;
    top: 0;
    left: 100px;
    transition: all 0.5s ease;
    width: calc(100% - 100px);
    padding: 1.5rem;
}
.left-body {
    width: 70%;
}

.container {
    display: flex;
    align-items: center;
}

.date_selector {
    margin-left: 16px;
}

input[type = 'date'] {
    position: relative;
    width: 120px;
    height: 35px;
    padding: 0 14px 0 14px;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    color: darkslategrey;
}

input[type = 'date']::-webkit-clear-button,
input[type = 'date']::-webkit-inner-spin-button {display: none;}
input[type = 'date']::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    color: transparent;
    cursor: pointer;
}

input[type = 'date']::before {
    content: attr(data-placeholder);
    width: 100%;
}
input[type = 'date']:valid::before {
    display: none;
}
input[data-placeholder]::before {
    color: #BABABA;
    font-size: 14px;
}

.monthly-report {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    column-gap: 1.2rem;
}

.monthly-report h1 {
    font-weight: 700;
    font-size: 1.8rem;
}

.monthly-report p {
    font-size: 0.86rem;
    color: darkgrey;
}

.monthly-report .card {
    background: white;
    height: 90%;
    border-radius: 2rem;
    padding: 1.7rem;
    margin-top: 1.5rem;
    /*box-shadow: 0 1rem 3rem rgba(132, 139, 200, 0.18);*/

}

.monthly-report .card i {
    font-size: 25px;
    color: coral;
}

.monthly-report .card h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1.2rem;
}

.monthly-report .card h6 {
    color: rgba(34, 202, 75);
    font-size: 1rem;
    margin-top: 1.3rem;
    margin-bottom: 0.2rem;
}

.monthly-report .category {
    margin-top: 2rem;
    /*display: flex;*/
    /*align-self: center;*/
    /*gap: 2rem;*/
}

.monthly-report .category .badges {
    margin-top: 1.3rem;
    display: flex;
    gap: 0.5rem;
    align-self: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.monthly-report .category .badge span {
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.monthly-report .category .badge {
    padding: 0.6rem 1rem;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 300ms ease;
}

.monthly-report .category .badge div {
    display: flex;
    gap: 1rem;
    align-self: center;
}

.monthly-report .category .badge:hover {
    box-shadow: 0 0 1.5rem rgba(132, 139, 200, 0.18);
    cursor: pointer;
}

.recent-detail {
    margin-top: 2rem;
}

.recent-detail h2 {
    margin-bottom: 1.5rem;
}

.recent-detail .detail {
    background: white;
    width: 100%;
    border-radius: 2rem;
    padding: 1.7rem;
}

.recent-detail .detail .operation {
    position: relative;
    right: 0;
}

.recent-detail .detail table {
    width: 100%;
    text-align: center;
}

.recent-detail .detail tbody td {
    height: 3.5rem;
    border-bottom: 1px solid lightgrey;
}

.recent-detail .detail tbody tr:last-child td {
    border: none;
}

.recent-detail a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: darkgrey;
    text-decoration: none;
}

.right-body h2 {
    position: relative;
    left: 30px;
    top: 80px;
}

.pomodoro {
    position: relative;
    left: 10px;
    top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3;
    justify-items: center;
}

#pomodoro-durations {
    display: flex;
    justify-content: space-between;
}

#pomodoro-timer {
    font-size: 7rem;
    letter-spacing: -0.25rem;
    font-variant-numeric: tabular-nums;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    font-family: "Space Grotesk",sans-serif;
    font-weight: 600;
    color: #6f6f6f;
}

input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.form-check-label {
    padding: 12px;
    background: #eeeeee;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    margin: 0 10px;
    color: #6f6f6f;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: -8px -4px 8px #ffffff,
                8px 4px 12px #d1d9e6;
    /*opacity .25s ease-in-out, transform*/
}

.form-check-input:checked ~ .form-check-label {
    color: black;
    box-shadow: inset -4px -2px 4px #ffffff,
                inset 4px 2px 8px #d1d9e6;
}

.btn-primary {
    padding: 5px 20px;
    background: #eeeeee;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    margin: 10px 10px;
    color: #6f6f6f;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: -8px -4px 8px #ffffff,
    8px 4px 12px #d1d9e6;
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
    border: none;
}

.btn-primary:active #play-icon {
    display: none;
}

.btn-primary .hidden {
    display: none;
}
.btn-primary:active {
    color: black;
    box-shadow: inset -4px -2px 4px #ffffff,
    inset 4px 2px 8px #d1d9e6;
}
.btn-primary:active .hidden {
    display: grid;
}

.no-style {
    padding: 5px 20px;
    background: #eeeeee;
    line-height: 40px;
    text-align: center;
    font-weight: 600;
    margin: 10px 10px;
    color: #6f6f6f;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: -8px -4px 8px #ffffff,
    8px 4px 12px #d1d9e6;
    transition: opacity .25s ease-in-out, transform .25s ease-in-out;
    border: none;
}

.no-style:hover {
    color: black;
    box-shadow: inset -4px -2px 4px #ffffff,
    inset 4px 2px 8px #d1d9e6;
}

.todo-list {
    padding-top: 20px;
}

/*#list-container {*/
/*    display: inline;*/
/*    !*align-items: center;*!*/
/*}*/

.todo {
    width: 100%;
    max-width: 440px;
    background: white;
    padding: 40px 30px ;
    margin: 100px 30px 20px;
    border-radius: 2rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14;
}
.row button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.todo ul li {
    position: relative;
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

.todo ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url("../img/checkbox.png");
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

.todo ul li.checked {
    color: #555;
    text-decoration: line-through;
}

.todo ul li.checked::before {
    background-image: url("../img/checked.png");
}

.todo ul li span {
    position: absolute;
    right: 0;
    /*top: 5px;*/
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.todo ul li span:hover {
    background: #edeef0;
}